{% extends 'base/base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div id="password-page">
	  	<div class="container">
			<div class="form-login" method="post" id="contrasenya-reestablerta">
		        <div class="login-wrap">
						{% csrf_token %}
                    <h3 class="text-center" id="restablir-title">La contrasenya s'ha reestablert correctament</h3>
                    <button class="btn btn-theme btn-block" type="button"><a id="link-button-a" href="/login"><i class="fa fa-lock"></i> INICIAR SESSIÓ</a></button>
		        </div>
		      </div>
	  	</div>
	  </div>
{% endblock %}