{% extends 'base/base.html' %}

<html lang="en">
  <head>
  </head>
  <body>
{% block header %}
{% endblock %}

{% block content %}
<div id="password-page">
	  	<div class="container">
			<form class="form-login" method="post" id="recuperar_contrasenya">
		        <h2 class="form-login-heading">Recuperar contrasenya</h2>
		        <div class="login-wrap">
                    {% csrf_token %}
                    <!--<label for="id_email">Correu:</label> {{ form.email }}-->
		            <input type="text" for="id_email" id="email" class="form-control" name="email" placeholder="Escriu el teu e-mail" autofocus>
		            <button class="btn btn-theme btn-block" id="btn_forget_pwd" type="submit"><i class="fa fa-lock"></i> ENVIAR</button>
		        </div>
            </form>
        </div>
</div>
{% endblock %}