{% extends 'base/base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<div id="password-page">
	  	<div class="container">
            {% if validlink %}
			<form class="form-login" method="post" id="recuperar_contrasenya">
		        <h2 class="form-login-heading">CANVIAR CONTRASENYA</h2>
		        <div class="login-wrap">
                        {% csrf_token %}
		            <input type="password" for="id_new_password1" id="new_password1" class="form-control" name="new_password1" placeholder="Nova contrasenya" autofocus>
		            <br>
		            <input type="password" for="id_new_password2" id="new_password2" class="form-control" name="new_password2" placeholder="Confirmar contrasenya">
		            <button id="btn_forget_pwd" class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> CANVIAR</button>
                </div>
		      </form>
    		{% endif %}
    </div>
</div>
    {% endblock %}


