{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lineicons/style.css' %}">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <script src="{% static 'js/chart-master/Chart.js' %}"></script>
    <title>{% block title %} DECAUGHT - The best tracker {% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo_decaught.png' %}">


</head>
<body >
{% block header %}
<h2>DECAUGHT</h2>
{% endblock %}

{% block content %}
    <h3>Contingut base</h3>
{% endblock %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>

</body>
</html>
