{% extends 'base/base.html' %}

<html lang="en">
  <head>
  </head>
  <body>
{% block header %}
{% endblock %}

  {% block content %}
	  <div id="login-page">
	  	<div class="container">
			<form class="form-login" method="post">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap" id="registration">
						{% csrf_token %}
		            <input type="text" id="username" class="form-control" name="username" placeholder="Username" autofocus>
		            <br>
		            <input type="password" id="password" class="form-control" name="password" placeholder="Password">
		            <label class="checkbox">
		                <span class="pull-right">
							<a href="{% url 'password_reset' %}"> Forgot Password?</a>
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
		            <hr>
		        </div>
		      </form>
	  	</div>
	  </div>
  {% endblock %}
  </body>
</html>