{% extends 'base/base.html' %}
{% load static %}

    <body>
    {% block header %}
    {% endblock %}
    {% block content %}
        <section id="container" >
            <!-- **********************************************************************************************************************************************************
            TOP BAR CONTENT & NOTIFICATIONS
            *********************************************************************************************************************************************************** -->
            <!--header start-->
            <header class="header black-bg">
                <!--logo start-->
                <a href="index.html" class="logo"><b>DECAUGHT</b></a>
                <!--logo end-->

                </div>
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <li><a class="logout" href="../login">Logout</a></li>
                    </ul>
                </div>
            </header>
            <!--header end-->

            <!-- **********************************************************************************************************************************************************
            MAIN SIDEBAR MENU
            *********************************************************************************************************************************************************** -->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu" id="nav-accordion">
                        {% if device %}
                            {% for dev in device %}
                            <li id={{dev.id}} class="mt">
                                <a id={{dev.id}} class="active" href="#">
                                    <i id={{dev.id}} class="fa fa-mobile-alt" style="font-size: 20px; padding-top: 20px; padding-right: 20px"></i>
                                    <span id={{dev.id}}><b>{{ dev.label }}</b></span>
                                    <br>
                                    {% if location %}
                                        {% for loc in location %}
                                        {% if loc.device == dev %}
                                        <span id="adress"></span>
                                        <input type="hidden" id="lat-{{dev.id}}" value="{{ loc.latitude }}">
                                        <input type="hidden" id="lon-{{dev.id}}" value="{{ loc.longitude}}">
                                            {% if loc.im_out %}
                                                <i id={{dev.id}} class="fa fa-user-times" style="font-size: 20px; color: orangered; padding-left: 315px;"></i>
                                            {% else %}
                                                <i id={{dev.id}} class="fa fa-user" style="font-size: 20px; color: LimeGreen; padding-left: 315px;"></i>
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if geofence %}
                                        {% for geo in geofence %}
                                            {% if geo.device == dev %}
                                            <div id="geofence" class="geofence">
                                                <input type="hidden" id="lat-geo-{{dev.id}}" value="{{ geo.latitude }}">
                                                <input type="hidden" id="lon-geo-{{dev.id}}" value="{{ geo.longitude}}">
                                                <input type="hidden" id="rad-geo-{{dev.id}}" value="{{ geo.radius}}">
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </a>
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <div id="googleMap" style="height:100%;"><img style="padding-left: 20%; padding-top: 5%;" src="../../static/img/logo_decaught.png"></div>
                <script>
                    $('.mt').click(function(event) {
                        $(".mt").css("background-color","White");
                        rowid = event.target.id;
                        $('#' + rowid).css("background-color","Gainsboro");
                        myMap(rowid);
                    })
                    function myMap(rowid) {
                        lat = $('#lat-' + rowid).val().replace(",",".");
                        lon = $('#lon-' + rowid).val().replace(",",".");
                        lat =  parseFloat(lat);
                        lon =  parseFloat(lon);
                        var myCenter = new google.maps.LatLng(lat, lon);
                        var mapProp = {center: myCenter, zoom: 10, scrollwheel: false, draggable: false, mapTypeId: google.maps.MapTypeId.ROADMAP, draggable: true};
                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                        var geocoder = new google.maps.Geocoder;
                        var infowindow = new google.maps.InfoWindow;

                        geocodeLatLng(geocoder, map, infowindow);
                }
                function geocodeLatLng(geocoder, map, infowindow) {
                    var myCenter = new google.maps.LatLng(lat, lon);
                    var input = lat + ", " + lon;
                    var latlngStr = input.split(',', 2);
                    var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};

                    geocoder.geocode({'location': latlng}, function (results, status) {
                        if (status === 'OK') {
                            if (results[1]) {
                                map.setZoom(16);
                                var marker = new google.maps.Marker({position: myCenter, map: map});
                                infowindow.setContent(results[1].formatted_address);
                                infowindow.open(map, marker);
                                geofences(map);
                            } else {
                                window.alert('No results found');
                            }
                        } else {
                            window.alert('Geocoder failed due to: ' + status);
                        }
                    });
                }
                 function geofences(map){
                    var citymap = [];
                    var punto = [];
                    //var geofences = document.getElementById("sidebar").querySelectorAll(".geofence");
                        rad = $('#rad-geo-' + rowid).val().replace(",",".");
                        lat = $('#lat-geo-' + rowid).val().replace(",",".");
                        lon = $('#lon-geo-' + rowid).val().replace(",",".");
                        lat =  parseFloat(lat);
                        lon =  parseFloat(lon);
                        rad = parseFloat(rad);
                        punto = {
                         center: {lat: lat, lng: lon},
                         radius: rad
                        };
                       citymap.push(punto);
                   //})

                  for (var city in citymap) {
                  // Add the circle for this city to the map.
                  var cityCircle = new google.maps.Circle({
                    strokeColor: '#00ffbf',
                    strokeOpacity: 1,
                    strokeWeight: 2,
                    fillColor: '#00ffbf',
                    fillOpacity: 0.15,
                    map: map,
                    center: citymap[city].center,
                    radius: citymap[city].radius
                  });
                }
}
                </script>
            <script>

            </script>
             <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq618cOBybgE3HgukVO6ZSENkS8qScVr8&callback=myMap" type="text/javascript">
             </script>
        </section>
            <!--sidebar end-->


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src=" {% static 'js/jquery-1.8.3.min.js' %}"></script>
        <script src=" {% static 'js/bootstrap.min.js' %}"></script>

        <!--common script for all pages-->
        <script src="{% static 'js/common-scripts.js' %}"></script>

    {% endblock %}
    </body>
</html>
